<div class="row-3" id="header">
  <h1 class="title">Recipes Results</h1>
</div>

<div class="container">

<div id="recipeList">
  <table class="table table-borderless">
    <tbody *ngFor="let recipe of recipes">
      <tr>
        <td [routerLink]="['/recipedetail', recipe.id]"><img [src]="recipe.imageURL" class="ratio ratio-1x1" style="width: 150px; height: 150px; object-fit: cover" /></td>
        <div id="rr">
          <td [routerLink]="['/recipedetail', recipe.id]" id="tableRecipeName">{{ recipe.name }}</td>
        </div>
        <!-- <div id="rd">
          <td [routerLink]="['/recipedetail', recipe.id]" id="tableRecipeName">{{ recipe.description }}</td>
        </div> -->
      </tr>
    </tbody>
  </table>
</div>

</div>
