<div class="row-3" id="header">
  <h1 class="title">Recipes Results</h1>
</div>

<div class="container">

<div id="recipeList">
  <table class="table table-borderless">
    <tbody *ngFor="let recipe of recipes">
      <tr id="tableRow">
        <td colspan="2" [routerLink]="['/recipedetail', recipe.id]"><img [src]="recipe.imageURL" style="width: 150px; height: 150px; object-fit: cover"></td>
        <td id="tableRecipeName" [routerLink]="['/recipedetail', recipe.id]">{{ recipe.name }}</td>
        <td id="tableRecipeDescription" [routerLink]="['/recipedetail', recipe.id]">{{ recipe.description }}</td>


      </tr>
    </tbody>
  </table>
</div>

</div>
