<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Recipe Generator</h1>
        <h2 class="mx-auto my-0 text-uppercase">
          what you want, what you need, we got your favorite recipe
        </h2>
        <br />
        <a [routerLink]="['/recipe']" class="btn btn-outline-light js-scroll-trigger">See all the recipes</a>
        <br /><br />
        <a [routerLink]="['/login']" class="btn btn-outline-light js-scroll-trigger" *ngIf="!userLogInCheck()">Login</a>
        <br /><br />
        <a [routerLink]="['/register']" class="btn btn-outline-light js-scroll-trigger" *ngIf="!userLogInCheck()">Register</a>
      </div>
    </div>
  </header>