<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <!-- <h1 class="mx-auto my-0 text-uppercase">The Recipe Tree</h1> -->
            <img id="logo" src="assets/TheRecipeTree.png">
            <h2 class="mx-auto my-0 text-uppercase">
                what you want, what you need,<br>
                 we track your favorite recipes
            </h2>
            <br />

            <div class="links">
              <div class="row-md-3" >
                <a [routerLink]="['/recipes']" class="btn btn-success js-scroll-trigger">See all the recipes</a>
              </div>
              <div class="row-md-3" style="margin-top: 8px">
                <a class="btn btn-success js-scroll-trigger" *ngIf="!userLogInCheck()" (click)="onClickLogin()">Login</a>
              </div>
              <div class="row-md-3" style="margin-top: 8px">
                <a [routerLink]="['/register']" class="btn btn-success js-scroll-trigger" *ngIf="!userLogInCheck()" (click)="onClickLogin()">Register</a>
              </div>
              <div class="row-md-3" style="margin-top: 8px">
                <a class="btn btn-success js-scroll-trigger" (click)="getRandomRecipe()">Get Random Recipe</a>
              </div>
            </div>



        </div>
    </div>
</header>

<ng-template #loginModalTemplate let-modal>
    <div class="modal-header">
        <h4 *ngIf="!creds.registering" class="modal-title" id="modal-basic-title">Login</h4>
        <h4 *ngIf="creds.registering" class="modal-title" id="modal-basic-title">Register</h4>
        <button type="button" class="close btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control mb-3" [(ngModel)]="creds.username" name="username" id="username" type="text" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control mb-3" [(ngModel)]="creds.password" name="password" id="password" type="password">
            </div>
            <div class="form-group" *ngIf="creds.registering">
                <label for="passwordc">Password Confirm:</label>
                <input class="form-control mb-3" [(ngModel)]="creds.passwordc" name="passwordc" id="passwordc" type="password">
            </div>
            <div class="form-group d-flex">
                <button *ngIf="creds.registering" class="btn btn-outline-primary mx-auto" (click)="creds.registering=false">Cancel</button>
                <button class="btn btn-primary mx-auto" (click)="onUserRegisterClick(modal)">Register</button>
                <button *ngIf="!creds.registering" class="btn btn-primary mx-auto" (click)="modal.close('login')">Login</button>
            </div>
        </form>
    </div>
</ng-template>
