<div class="card container p-3">
    <div class="row">
        <h4 class="col-12">Search</h4>
        <div class="col-12">
            <div class="result-container">
                <!-- Put results here -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">Filter by</div>
        <div class="col-12">
            <!-- Put selected keywords here -->
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="text" name="filter" id="filter" class="form-control" [(ngModel)]="filter" placeholder="Search for keywords...">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 col-md">
            <div class="col-12">Ethnicity</div>
            <div class="col-12">
                <div class="keyword-container">
                    <span class="badge rounded-pill bg-primary m-1" *ngFor="let category of categories| categoryFilter: {name: 'ethnic', filter: filter}">{{ category.name }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="col-12">Lifestyle</div>
            <div class="col-12">
                <div class="keyword-container">
                    <span class="badge rounded-pill bg-primary m-1" *ngFor="let category of categories| categoryFilter:{name: 'lifestyle', filter: filter}">{{ category.name }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="col-12">Ingredient</div>
            <div class="col-12">
                <div class="keyword-container">
                    <span class="badge rounded-pill bg-primary m-1" *ngFor="let ingredient of ingredients | ingredientFilter: filter">{{ ingredient.name }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="col-12">Flavor</div>
            <div class="col-12">
                <div class="keyword-container">
                    <span class="badge rounded-pill bg-primary m-1" *ngFor="let category of categories| categoryFilter:{name:'flavor', filter: filter}">{{ category.name }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="col-12">Allergy</div>
            <div class="col-12">
                <div class="keyword-container">
                    <span class="badge rounded-pill bg-primary m-1" *ngFor="let category of categories| categoryFilter:{name:'allergies', filter:filter}">{{ category.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>