<header class="masthead">

</header>
<div class='container'>
<div class='row'>
  <div class='col'>
    <div class='row'>
     <h3>{{user?.username}}</h3>
      <img [src]="user?.imageURL" style="width: 150px; height: 150px; object-fit: cover;">

    </div>
    <div class='row'>
      Total Average Rating
    </div>
    <div class='row'>
      Edit Page
    </div>
  </div>
  <div class='col-8'>
    <div class='row'>
      Users Added Recipes
    </div>
    <div class='row'>
      Users Favorite Recipes
    </div>
    <div class='row'>


          <a
            class="btn btn-success js-scroll-trigger"
            (click)="onClickAddRecipe()"
            >Add Recipe</a
          >


    </div>
  </div>
  <div class='col-1'>

  </div>
</div>

</div>

<ng-template #recipeModalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add Recipe
    </h4>
    <button
      type="button"
      class="close btn btn-danger"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.name"
          name="name"
          id="name"
          type="text"
          placeholder="Name"
        />
      </div>
      <div class="form-group">
        <label for="imageURL">imageURL:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.imageURL"
          name="imageURL"
          id="imageURL"
          type="imageURL"
        />
      </div>
      <div class="form-group">
        <label for="prepTime">Prep Time:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.prepTime"
          name="prepTime"
          id="prepTime"
          type="prepTime"
        />
      </div>
      <div class="form-group">
        <label for="cookTime">Cook Time:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.cookTime"
          name="cookTime"
          id="cookTime"
          type="cookTime"
        />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.description"
          name="description"
          id="description"
          type="description"
        />
      </div>
      <div class="form-group" >
        <label for="instructions">Instructions:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.instructions"
          name="instructions"
          id="instructions"
          type="instructions"
        />
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        <input
          class="form-control mb-3"
          [(ngModel)]="recipe.notes"
          name="notes"
          id="notes"
          type="notes"
        />
      </div>

      <div class="form-group d-flex">

        <button class="btn btn-primary mx-auto" (click)="modal.close('add recipe')">
          Add Recipe
        </button>
      </div>
    </form>
  </div>
</ng-template>
