<div class="container">
<a [routerLink]="['/recipes']" class="btn btn-outline-success js-scroll-trigger">Back To Recipes</a><br><br>
</div>

<div id="recipeDetailHeader">
  <h1>{{ recipe.name }}</h1>
</div>
<br/>

<div class="container">
  <div class="row">
    <div class="col-3" id="time">
      <!-- <p>Rating: </p> -->
      <p>Prep Time: <br>{{ recipe.prepTime }}</p>
    </div>
    <div class="col-3" id="time">
      <p>Cook Time: <br>{{ recipe.cookTime }}</p>
    </div>
  </div><br>

  <div class="row">
    <div class="col-6 col-md-4">
      <img [src]="recipe.imageURL" class="ratio ratio-1x1" /><br /><br />

      <div id="ingredientsBox">
        <p id="ingredientsHeader">Ingredients:</p>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.quantity }}
            {{ ingredient.ingredient.measurementUnit }}
            {{ ingredient.remarks }}
            {{ ingredient.ingredient.name }}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-6" id="instructionsBox">
      <p id="instructionsHEADER">Instructions:</p>
      <p>{{ recipe.instructions }}</p>
    </div>
  </div>
</div>

