<div class="container">
    <a [routerLink]="['/recipes']" class="btn btn-outline-success js-scroll-trigger">Back To Recipes</a><br><br>
    <a [routerLink]="['/search']" class="btn btn-outline-success js-scroll-trigger">Back To Search</a><br><br>
</div>

<div id="recipeDetailHeader">
    <h1>{{ recipe.name }}</h1>
</div>
<br/>

<div class="container">
    <div class="row">
        <div class="col-3 d-flex align-content-center justify-content-center " id="time" style="margin-right: 8px">
            <div class="cookies" >

                <div  id="rating" class="cookies-fg" [style.width.%]="(rating/5)*100">

                </div>
                <div class="cookies-input" (click)="onRatingClick($event)"></div>
            </div>
        </div>
        <div class="col-3" id="time" style="margin-right: 8px">
            <p>Prep Time: <br>{{ recipe.prepTime }}</p>
        </div>
        <div class="col-3" id="time">
            <p>Cook Time: <br>{{ recipe.cookTime }}</p>
        </div>
    </div><br>

    <div class="row">
        <div class="col-6 col-md-4">
            <img [src]="recipe.imageURL" class="ratio ratio-1x1" /><br /><br />

            <div id="ingredientsBox">
                <p id="ingredientsHeader">Ingredients:</p>
                <ul>
                    <li *ngFor="let ingredient of recipe.ingredients">
                        {{ ingredient.quantity }} {{ ingredient.ingredient.measurementUnit }} {{ ingredient.remarks }} {{ ingredient.ingredient.name }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-6" id="instructionsBox">
            <p id="instructionsHEADER">Instructions:</p>
            <p>{{ recipe.instructions }}</p>
        </div>
    </div>
</div>
